<menu *ngIf="visible">
    <section title="user">
        <img [src]="user?.photoURL ? user?.photoURL : '../../assets/images/user.png'">
        <p>{{user?.displayName ? user?.displayName : 'Unautorized'}}</p>
    </section>
    <ul>
        <li routerLink="weather">Weather
            <fa-icon [icon]="arrowIcon"></fa-icon>
        </li>
        <li routerLink="time">Time
            <fa-icon [icon]="arrowIcon"></fa-icon>
        </li>
    </ul>
    <button (click)="signOut()">Sing out</button>
</menu>