section {
    display: flex;
    justify-content: center;
    align-items: start;
    min-width: 450px;
    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        background-color: #fff;
        border-radius: 20px;
        position: relative;
        gap: 20px;
        width: 100%;
        h1 {
            font-family: "Montserrat Alternates";
            font-size: 28px;
            background: linear-gradient(90deg, blue 13%, pink);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            user-select: none;
        }
    }
}