<section>
    <div>
        <h1>{{title}}</h1>
        <input #cityInput type="text" placeholder="city" (keyup)="selectCity()">
        <select (change)="onSelectProvider($event)">
            <option value="openWeatherMap">openWeatherMap</option>
            <option value="WeatherAPI">WeatherAPI</option>
        </select>
        <div class="weatherWidget">
            <div class="title">
                <img [src]="icon">
                <div class="weather">
                    <div class="temp">
                        <p>{{temp}}</p>
                    </div>
                    <div class="sys">
                        <div class="city">
                            <p>{{city}}</p>
                        </div>
                        <p>{{date | date:'MMM d, EEEE'}}</p>
                    </div>
                </div>
            </div>
            <ul>
                <li>{{weather}}</li>
                <li>Видимость: <span>{{pressure}}</span></li>
                <li>Ветер: <span>{{windSpeed}}</span></li>
            </ul>
        </div>
    </div>
</section>